html {
  font-size: 62.5%;
}

body {
  padding: 0%;
  margin: 0%;
  align-items: center;
}
.container {
  display: flex;
  width: 90vw;
  height: 82vh;
  margin: 2rem 0rem;
  box-shadow: 0rem 1rem 0.8rem rgba(0, 0, 0, 0.2),
    0rem 6rem 20rem rgba(0, 0, 0, 0.19);
  overflow: auto;
  position: relative;
  justify-content: space-between;
  left: 5%;
}
.loginform {
  position: absolute;
  display: block;
  width: 48%;
  margin: 0rem;
  padding: 3rem;
  padding-top: 1rem;
}
.loginform input {
  border: none;
  border-bottom: 0.1rem solid gray;
  font-size: 1.8rem;
  padding: 1rem;
}
.loginform input:focus {
  outline: none !important;
}
.loginform input[name^="option"] {
  width: 2rem;
  height: 2rem;
}
.loginform label {
  font-size: 2rem;
}
.loginform h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.loginform h3 {
  padding: 0rem;
  margin: 0rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}
.loginform .heading3 {
  margin-bottom: 1rem;
}
.loginform select {
  padding: 1rem;
  font-size: 1.6rem;
}
.loginform p {
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 1rem;
}
.image {
  width: 45%;
  height: 100%;
  left: 54.8%;
  position: sticky;
  z-index: 1;
  top: 0%;
}
.image img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.buttons {
  width: 60rem;
  margin-left: 2rem;
  text-align: center;
}
.buttons a {
  text-decoration: none;
  color: white;
}
button {
  padding: 0.5rem 1rem;
  background-color: rgb(14, 151, 94);
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin: 0rem 4rem;
}

@media (max-width: 480px) {
  html {
    font-size: 45%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1201px) {
  html {
    font-size: 72.5%;
  }
}
